doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    script(src="/libs/jquery-1.11.1.min.js")
    script(src="/libs/isotope.pkgd.js")
    script(src="/javascripts/events.js")
    script(src="/javascripts/isotope.js")
    //- enables adding styles
    block styles
    //- enables adding additional JS Libraries
    block libraries
  body
    include header
    main
      block content
    //- enables adding scripts to the bottom of the file
    block scripts
