body
  font-family 'Roboto-Regular', Arial, sans-serif
  margin 0
  padding 0
  height 100%
  width 100%
  display flex
  font-size 70px
  flex-direction column
  @media desktop
    font-size 18px
    flex-direction row
  
header
  background $orange
  box-shadow 0 2px 20px rgba(0,0,0,.3)
  flex-direction row
  min-height 200px
  flex 2
  @media desktop
    text-align center
    flex-direction column
    min-width 200px
  
main
  overflow-y auto
  background $grey-light
  @media desktop
    padding 20px
    flex 8
