// $orange = #ffb300
$orange = #FFA000
$orange-light = #ffca28
$orange-dark = #EF6C00
$green = #43A047
$green-light = #66BB6A
$green-dark = #1B5E20
$grey = #E9E9E9
$grey-light = #f9f9f9
$grey-dark = #BDBDBD