.logo
  color white
  margin 20px
  font-size 8rem
  @media desktop
    font-size 3rem
  flex 1
nav
  flex 8.5
  ul
    list-style none
    text-align center
    padding 0
    li
      padding 5px
      height 40px
      &:hover
        background $orange-light
      a
        font-size 1.25em
        color white
        text-decoration none

.impressum
  flex 0.5
  a
    color white 