.header--logo
  a
    text-decoration none
    color white
  margin 20px
  font-size 8rem
  @media desktop
    font-size 3rem
  flex 1
.header--burger
  color black
  font-size 8rem
  padding 35px
  float left
@media mobile
  nav
    display none
    position fixed
    width 100%
    height 150%
    background $orange
    text-align center
    ul
      list-style none
      padding 0
      li
        padding 10px
        a
          text-decoration none
          color white
          font-size 6rem
        
@media desktop
  .header--burger.fa
    display none
  nav
    flex 8.5
    ul
      list-style none
      text-align center
      padding 0
      li
        padding 5px
        height 40px
        &:hover
          background $orange-light
        a
          font-size 1.25rem
          color white
          text-decoration none

  .header--impressum
    flex 0.5
    a
      color white 
