extends ../layout

block content
  form.form-horizontal(method="POST", action="/recipes/new")
    .col-md-6
      .form-group.has-success
        label#inputName.control-label.col-lg-2 Name
        .col-lg-10
          input.form-control#inputName(type="text", placeholder="Name", name="name")
    .col-md-6
      .form-group.has-success
        label#inputManual.control-label.col-lg-2 Anleitung
        .col-lg-10
          textarea.form-control#inputManual(type="text", placeholder="Anleitung", name="manual")
    .col-md-12
      input(type="hidden" name="_method" value="put")
      button.btn.btn-default(type="reset") Abbrechen
      button.btn.btn-default(type="submit") Bestätigen