extends ../layout

block content
  form.recipe(method="POST")
    .recipe--container-first
      .recipe--input
        label(for="inputName") Name
        input#inputName(name="name",type="text", placeholder="Name")
      .recipe--input
        label(for="inputEmail3") Email
        .textarea#inputEmail3(type="text",name="manual",contentEditable="true", placeholder="Manual")
    .recipe--container-second
      .recipe--input
        label(for="inputEmail3") Email
        input#inputEmail3(name="email",type="email", placeholder="Email")
    .recipe--container-third
      input(type="hidden" name="_method" value="put")
      input(type='submit', value="Bestätigen")