extends ../layout

block content
  .recipe
    .recipe--container-first
      .recipe--title
        h1
          = recipe.name
      .recipe--author
        span by #{recipe.author}
      ul.recipe--categories
        -if(recipe.categories)
          each category in recipe.categories
            li= category
      .recipe--image
        img(style="background-image: url('http://s3-eu-west-1.amazonaws.com/jamieoliverprod/_int/rdb2/upload/1288_1_1408617456_lrg.jpg')")
    .recipe--container-second
      .recipe--ingredients
        h2 Ingredients
        -if(recipe.ingredients)
          each ingredient in recipe.ingredients
            p= ingredient
    .recipe--container-third
      .recipe--manual
        h2 Manual
        p= recipe.description
