/* Mixins */
@font-face {
  font-family: Roboto-Medium;
  src: url("/fonts/Roboto-Medium.ttf");
  font-family: Roboto-Thin;
  src: url("/fonts/Roboto-Thin.ttf");
  font-family: Roboto-Regular;
  src: url("/fonts/Roboto-Regular.ttf");
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
a.link--green {
  color: #43a047;
}
a.link--green:hover {
  color: #1b5e20;
}
html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.25em 0;
}
body {
  background: #eee;
  font-family: 'Roboto-Regular', Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
}
@media screen and (max-device-width: 900px) {
  body {
    font-size: 70px;
  }
}
header {
  width: 100%;
  height: 70px;
  background: #ffa000;
  position: fixed;
  top: 0;
  z-index: 20;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
@media screen and (max-device-width: 900px) {
  header {
    height: 200px;
  }
}
main {
  margin: 70px auto 0 auto;
  width: 1000px;
  padding: 20px;
}
@media screen and (max-device-width: 900px) {
  main {
    height: 200px;
    margin: 200px 0 50px 0;
    width: 100%;
  }
}
.header--logo {
  padding: 15px 0 0 20px;
  line-height: 40px;
  width: 150px;
  font-size: 1.7em;
  text-decoration: none;
  color: #fff;
}
@media screen and (min-device-width: 900px) and (min-width: 900px) {
  .header--logo {
    float: left;
  }
}
.header--logo .fa-spoon {
  font-size: 1em;
  float: left;
}
@media screen and (max-device-width: 900px) {
  .header--logo {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0;
    width: 550px;
    line-height: 200px;
  }
  .header--logo .fa-spoon {
    padding-top: 40px;
  }
}
.header--navigation-button,
.header--user-button {
  display: none;
}
@media screen and (max-device-width: 900px) {
  .header--navigation-button,
  .header--user-button {
    display: block;
    color: #1b5e20;
    font-size: 1.5em;
    position: absolute;
    height: 100px;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  .header--navigation-button.header--navigation-button,
  .header--user-button.header--navigation-button {
    left: 40px;
  }
  .header--navigation-button.header--user-button,
  .header--user-button.header--user-button {
    right: 40px;
  }
}
.header--navigation {
  font-size: 1.25em;
  margin-left: 50px;
  float: left;
  list-style: none;
}
.header--navigation li {
  padding: 10px;
  margin: 10px 10px 10px 0;
  border-radius: 10px;
}
@media screen and (min-device-width: 900px) and (min-width: 900px) {
  .header--navigation li {
    float: left;
  }
}
.header--navigation li:hover {
  cursor: pointer;
  background: #66bb6a;
}
@media screen and (max-device-width: 900px) {
  .header--navigation {
    position: absolute;
    top: 190px;
    left: -5%;
    display: none;
    width: 10%;
    height: 100vh;
    background: #ffa000;
  }
}
.header--user {
  margin-top: 15px;
  height: 70px;
  float: right;
  width: 250px;
}
.header--user .header--user-image {
  margin-right: 20px;
  float: left;
  width: 40px;
  height: 40px;
  background: #f00;
}
.header--user .header--user-name {
  line-height: 40px;
  margin-right: 20px;
  color: #fff;
}
@media screen and (min-device-width: 900px) and (min-width: 900px) {
  .header--user .header--user-name {
    float: left;
  }
}
@media screen and (max-device-width: 900px) {
  .header--user .header--user-name {
    width: 200px;
    margin: 20px auto;
  }
}
.header--user .header--user-actions {
  line-height: 40px;
  margin-right: 20px;
}
@media screen and (min-device-width: 900px) and (min-width: 900px) {
  .header--user .header--user-actions {
    float: right;
  }
}
@media screen and (max-device-width: 900px) {
  .header--user .header--user-actions {
    text-align: center;
    width: 300px;
    margin: 0 auto;
  }
  .header--user .header--user-actions a {
    margin: 20px;
  }
}
.header--user .header--user-actions a {
  margin-right: 10px;
}
@media screen and (max-device-width: 900px) {
  .header--user {
    display: none;
    position: absolute;
    top: 180px;
    right: -5%;
    width: 10%;
    height: 100vh;
    background: #ffa000;
  }
}
.recipe--categories {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.recipe--categories li {
  color: #fff;
  padding: 5px 10px;
  background: #43a047;
  border-radius: 5px;
  margin-top: 10px;
}
.card--layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}
.card--layout.left {
  justify-content: flex-start;
}
.card--main {
  align-self: flex-start;
  background: #fff;
  margin-bottom: 25px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.25);
  border-radius: 2px;
  display: inline-block;
}
.card--main.small {
  width: 220px;
}
.card--main.medium {
  width: 330px;
}
.card--main.large {
  width: 600px;
}
.card--main.inline {
  margin-top: 25px;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  margin-left: -16px;
}
.card--container {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-flow: column wrap;
}
.card--container.first {
  order: 1;
}
.card--container.second {
  order: 2;
}
.card--container.third {
  order: 3;
}
.card--container.fourth {
  order: 4;
}
.card--title {
  padding: 16px;
  font-size: 1.5em;
}
.card--subtitle {
  padding: 0 16px 16px 16px;
  font-size: 1em;
}
.card--image {
  left: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.card--image.small {
  height: 100px;
}
.card--image.medium {
  height: 150px;
}
.card--image.large {
  height: 250px;
}
.card--image img {
  left: 0;
  position: absolute;
  z-index: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}
.card--image img:hover {
  transform: scale(1.2);
}
.card--fav-button {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 70px;
  top: 0;
  right: 0;
  background: #43a047;
  border-bottom-left-radius: 10px;
}
.card--fav-button .fa {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #fff;
  font-size: 1.5em;
}
.card--fav-button .fa.fa-star {
  color: #ffa000;
}
.card--fav-button .fa:hover {
  color: #ffa500;
  cursor: pointer;
}
.card--fav-button .card--fav-count {
  font-size: 1em;
  margin-top: 10px;
  position: absolute;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
}
.card--content {
  color: #000;
  font-size: 1em;
  padding: 16px;
}
.btn {
  margin-right: 16px;
}
@media screen and (max-device-width: 900px) {
  .form-group {
    margin-top: 50px;
  }
  .form-control {
    height: 100px !important;
    display: inline-block;
    font-size: 0.6em;
  }
  .btn {
    font-size: 1em;
  }
  input[type="checkbox"] {
    width: 80px;
    height: 80px;
  }
  input[type="file"] {
    font-size: 50px;
  }
}
@media screen and (min-device-width: 900px) and (min-width: 900px) {
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-top: 10px;
  }
}
textarea {
  min-height: 500px;
}
.form-group {
  padding-left: 15px;
}
.col-1 {
  width: 10%;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 30%;
}
.col-4 {
  width: 40%;
}
.col-9 {
  width: 90%;
}
.close {
  font-size: 1.6em;
  width: 100%;
}
.form--actions {
  margin-top: 30px;
}
.search-user-results,
.search-recipe-results {
  display: inline-block;
  display: none;
  position: absolute;
  z-index: 10;
  width: 95%;
  max-width: 400px;
  max-height: 100px;
  overflow-y: scroll;
  background-color: #fff;
}
.search-user-results p,
.search-recipe-results p {
  padding: 5px;
  margin: 0;
}
.search-user-results p:hover,
.search-recipe-results p:hover {
  background-color: #66bb6a;
  cursor: pointer;
  color: #fff;
}
form input {
  width: 350px;
}
form textarea {
  width: 100%;
  height: 200px;
  min-height: 200px;
  max-height: 400px;
  max-width: 100%;
}
.party--users {
  margin-top: 10px;
}
.upload {
  position: absolute;
  clip: rect(0px 76px 50px 0px);
  cursor: pointer;
}
.upload::-webkit-file-upload-button {
  visibility: hidden;
  opacity: 0;
}
.upload:before {
  content: 'Upload';
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.search--container {
  padding: 40px 40px 60px 40px;
}
.search--container input {
  width: 100%;
  height: 40px;
}
