/* Mixins */
.is-orange {
  color: #ffb300;
}
.is-orange-dark {
  color: #ffb300;
}
.is-green {
  color: #43a047;
}
.is-green-dark {
  color: #1b5e20;
}
@font-face {
  font-family: Roboto-Medium;
  src: url("/fonts/Roboto-Medium.ttf");
  font-family: Roboto-Thin;
  src: url("/fonts/Roboto-Thin.ttf");
  font-family: Roboto-Regular;
  src: url("/fonts/Roboto-Regular.ttf");
}
body {
  font-family: 'Roboto-Regular', Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 70px;
  flex-direction: column;
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  body {
    font-size: 18px;
    flex-direction: row;
  }
}
header {
  background: #ef6c00;
  box-shadow: 0 2px 20px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: row;
  min-height: 200px;
  flex: 1;
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  header {
    text-align: center;
    flex-direction: column;
    min-width: 200px;
  }
}
main {
  overflow-y: auto;
  background: #e9e9e9;
  flex: 9;
  font-size: 1em;
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  main {
    padding: 20px;
    flex: 8;
  }
}
html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.25em 0;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
a.link--green {
  color: #43a047;
}
a.link--green:hover {
  color: #43a047;
}
.header--logo {
  height: 100px;
  width: 140px;
  margin: 30px auto;
  position: relative;
  text-decoration: none;
  color: #fff;
}
.header--logo .fa-spoon {
  font-size: 4em;
  position: absolute;
  left: 0;
}
.header--logo .first,
.header--logo .second {
  text-align: left;
  padding-left: 40px;
  font-size: 2.25em;
  line-height: 35px;
}
.header--navigation {
  flex: 1;
}
.header--navigation ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.header--navigation ul li {
  text-align: left;
  padding: 10px;
  padding-right: 30px;
  height: 40px;
  font-size: 1em;
  line-height: 20px;
}
.header--navigation ul li:hover {
  background: #43a047;
  font-size: 1.2em;
  cursor: pointer;
}
.header--user {
  height: 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.header--user .header--user-image img {
  border-radius: 50px;
  background-size: auto 100%;
  background-position-x: center;
  width: 100px;
  height: 100px;
}
.header--user .header--user-actions {
  display: flex;
  color: #fff;
  flex: 0.5;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding-bottom: 30px;
}
.header--user .header--user-actions a {
  padding: 10px;
  margin: 0 auto 10px auto;
  width: 80%;
  background: #43a047;
  box-shadow: 0 4px 0 #1b5e20;
  border-radius: 5px;
}
.header--user .header--user-actions a:hover {
  background: #1b5e20;
}
.recipe--categories {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.recipe--categories li {
  color: #fff;
  padding: 5px;
  background: #43a047;
  border-radius: 5px;
  margin-top: 10px;
}
.card--layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}
.card--layout.left {
  justify-content: flex-start;
}
.card--main {
  align-self: flex-start;
  margin: 0 16px 16px 0;
  background: #fff;
  margin-bottom: 25px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.25);
  border-radius: 2px;
  display: inline-block;
}
.card--main.small {
  width: 220px;
}
.card--main.medium {
  width: 350px;
}
.card--main.large {
  width: 600px;
}
.card--container {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-flow: column wrap;
}
.card--container.first {
  order: 1;
}
.card--container.second {
  order: 2;
}
.card--container.third {
  order: 3;
}
.card--container.fourth {
  order: 4;
}
.card--title {
  padding: 16px;
  font-size: 1.5em;
}
.card--subtitle {
  padding: 0 16px 16px 16px;
  font-size: 1em;
}
.card--image {
  left: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.card--image.small {
  height: 100px;
}
.card--image.medium {
  height: 150px;
}
.card--image.large {
  height: 250px;
}
.card--image a img {
  left: 0;
  position: absolute;
  z-index: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}
.card--image a img:hover {
  transform: scale(1.2);
}
.card--fav-button {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 70px;
  top: 0;
  right: 0;
  background: #43a047;
  border-bottom-left-radius: 10px;
}
.card--fav-button .fa-star {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #fff;
  font-size: 1.5em;
}
.card--fav-button .fa-star:hover {
  color: #ffa500;
  cursor: pointer;
}
.card--fav-button .card--fav-count {
  font-size: 1em;
  margin-top: 10px;
  position: absolute;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
}
.card--content {
  color: #000;
  font-size: 1em;
  padding: 16px;
}
@media screen and (max-device-width: 1000px) {
  .form-group {
    margin-top: 50px;
  }
  .form-control {
    height: 100px !important;
    display: inline-block;
    font-size: 0.6em;
  }
  .btn {
    font-size: 1em;
  }
  input[type="checkbox"] {
    width: 80px;
    height: 80px;
  }
  input[type="file"] {
    font-size: 50px;
  }
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-top: 10px;
  }
}
textarea {
  min-height: 500px;
}
.form-group {
  padding-left: 15px;
}
.col-1 {
  width: 10%;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 30%;
}
.col-4 {
  width: 40%;
}
.col-9 {
  width: 90%;
}
.close {
  font-size: 1.6em;
  width: 100%;
}
.upload {
  position: absolute;
  clip: rect(0px 76px 50px 0px);
  cursor: pointer;
}
.upload::-webkit-file-upload-button {
  visibility: hidden;
  opacity: 0;
}
.upload:before {
  content: 'Upload';
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
