/* Mixins */
.is-orange {
  color: #ffb300;
}
.is-orange-dark {
  color: #ffb300;
}
.is-green {
  color: #12c700;
}
.is-green-dark {
  color: #64dd17;
}
@font-face {
  font-family: Roboto-Medium;
  src: url("/fonts/Roboto-Medium.ttf");
  font-family: Roboto-Thin;
  src: url("/fonts/Roboto-Thin.ttf");
  font-family: Roboto-Regular;
  src: url("/fonts/Roboto-Regular.ttf");
}
html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.25em 0;
}
body {
  font-family: 'Roboto-Regular', Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 70px;
  flex-direction: column;
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  body {
    font-size: 18px;
    flex-direction: row;
  }
}
header {
  background: #ffb300;
  box-shadow: 0 2px 20px rgba(0,0,0,0.3);
  flex-direction: row;
  min-height: 200px;
  flex: 2;
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  header {
    text-align: center;
    flex-direction: column;
    min-width: 200px;
  }
}
main {
  overflow-y: auto;
  background: #f5f5f5;
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  main {
    padding: 20px;
    flex: 8;
  }
}
.logo {
  color: #fff;
  margin: 20px;
  font-size: 8rem;
  flex: 1;
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  .logo {
    font-size: 3rem;
  }
}
nav {
  flex: 8.5;
}
nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
nav ul li {
  padding: 5px;
  height: 40px;
}
nav ul li:hover {
  background: #ffca28;
}
nav ul li a {
  font-size: 1.25em;
  color: #fff;
  text-decoration: none;
}
.impressum {
  flex: 0.5;
}
.impressum a {
  color: #fff;
}
.recipe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.recipe--container-first {
  order: 1;
}
.recipe--container-first .recipe--title,
.recipe--container-first .recipe--categories,
.recipe--container-first .recipe--author {
  padding: 0 10px;
}
.recipe--container-second {
  padding: 0 10px;
  order: 2;
}
.recipe--container-third {
  padding: 0 10px;
  order: 3;
}
.recipe--categories {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.recipe--categories li {
  font-style: italic;
  font-size: 0.75em;
  margin-right: 10px;
}
.recipe--categories li:last {
  margin-right: 0;
}
.recipe--image {
  width: 100%;
  height: 600px;
  overflow: hidden;
  text-align: center;
}
.recipe--image img {
  background-size: 100% auto;
  background-position-y: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 10px 10px 100px rgba(0,0,0,0.6);
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  .recipe {
    flex-direction: row;
  }
  .recipe--container-first {
    min-width: 400px;
    max-height: 400px;
    flex: 1;
  }
  .recipe--container-first .recipe--title,
  .recipe--container-first .recipe--categories,
  .recipe--container-first .recipe--author {
    padding: 0;
  }
  .recipe--container-second {
    padding: 0;
    min-width: 350px;
    max-height: 400px;
    padding-left: 20px;
    overflow-y: auto;
    flex: 1;
  }
  .recipe--container-third {
    padding: 0;
    min-width: 400px;
  }
  .recipe--categories li {
    font-size: 1.25em;
    margin-right: 20px;
  }
  .recipe--image {
    margin-top: 20px;
    width: 400px;
    height: 250px;
  }
}
