/* Mixins */
.is-orange {
  color: #ffb300;
}
.is-orange-dark {
  color: #ffb300;
}
.is-green {
  color: #12c700;
}
.is-green-dark {
  color: #64dd17;
}
@font-face {
  font-family: Roboto-Medium;
  src: url("/fonts/Roboto-Medium.ttf");
  font-family: Roboto-Thin;
  src: url("/fonts/Roboto-Thin.ttf");
  font-family: Roboto-Regular;
  src: url("/fonts/Roboto-Regular.ttf");
}
body {
  font-family: 'Roboto-Regular', Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 70px;
  flex-direction: column;
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  body {
    font-size: 18px;
    flex-direction: row;
  }
}
header {
  background: #ffb300;
  box-shadow: 0 2px 20px rgba(0,0,0,0.3);
  flex-direction: row;
  min-height: 200px;
  flex: 1;
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  header {
    text-align: center;
    flex-direction: column;
    min-width: 200px;
    flex: 2;
  }
}
main {
  overflow-y: auto;
  background: #f9f9f9;
  flex: 9;
  font-size: 1em;
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  main {
    padding: 20px;
    flex: 8;
  }
}
html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.25em 0;
}
.header--logo {
  margin: 20px;
  font-size: 1.5em;
  flex: 1;
}
.header--logo a {
  text-decoration: none;
  color: #fff;
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  .header--logo {
    font-size: 3em;
  }
}
.header--burger {
  color: #000;
  font-size: 2em;
  padding: 35px;
  float: left;
}
@media screen and (max-device-width: 1000px) {
  nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 150%;
    background: #ffb300;
    text-align: center;
    z-index: 1;
  }
  nav ul {
    list-style: none;
    padding: 0;
  }
  nav ul li {
    padding: 10px;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
  }
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  .header--burger.fa {
    display: none;
  }
  nav {
    flex: 8.5;
  }
  nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
  }
  nav ul li {
    padding: 5px;
    height: 40px;
  }
  nav ul li:hover {
    background: #ffca28;
  }
  nav ul li a {
    font-size: 1.25em;
    color: #fff;
    text-decoration: none;
  }
  .header--impressum {
    flex: 0.5;
  }
  .header--impressum a {
    color: #fff;
  }
}
.recipe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.recipe--container-first {
  order: 1;
}
.recipe--container-first .recipe--title,
.recipe--container-first .recipe--categories,
.recipe--container-first .recipe--author {
  padding: 0 10px;
}
.recipe--container-second {
  order: 2;
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  .recipe--container-second {
    padding: 0 10px;
  }
}
.recipe--container-third {
  padding: 0 10px;
  order: 3;
}
.recipe--categories {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.recipe--categories li {
  font-style: italic;
  font-size: 0.75em;
  margin-right: 10px;
}
.recipe--categories li:last {
  margin-right: 0;
}
.recipe--image {
  width: 100%;
  height: 600px;
  overflow: hidden;
  text-align: center;
}
.recipe--image img {
  background-size: 100% auto;
  background-position-y: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 10px 10px 100px rgba(0,0,0,0.6);
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  .recipe {
    flex-direction: row;
  }
  .recipe--container-first {
    min-width: 400px;
    max-height: 400px;
    flex: 1;
  }
  .recipe--container-first .recipe--title,
  .recipe--container-first .recipe--categories,
  .recipe--container-first .recipe--author {
    padding: 0;
  }
  .recipe--container-second {
    padding: 0;
    min-width: 350px;
    max-height: 400px;
    padding-left: 20px;
    overflow-y: auto;
    flex: 1;
  }
  .recipe--container-third {
    padding: 0;
    min-width: 400px;
  }
  .recipe--categories li {
    font-size: 1.25em;
    margin-right: 20px;
  }
  .recipe--image {
    margin-top: 20px;
    width: 400px;
    height: 250px;
  }
}
#container {
  width: 100%;
  height: 80%;
  height: 480px;
}
#container .item {
  padding: 10px;
  background: #12c700;
  width: 180px;
  height: 130px;
}
.recipe--input {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.recipe--input label {
  display: none;
}
.recipe--input input,
.recipe--input .textarea {
  color: #000;
  margin: 10px 2%;
  font-size: 5em;
  border: 0;
  border-bottom: 5px solid #9e9e9e;
  background: #f9f9f9;
}
@media screen and (max-device-width: 1000px) {
  .recipe--input input,
  .recipe--input .textarea {
    width: 96%;
  }
}
.recipe--input input:focus,
.recipe--input .textarea:focus {
  border-box: 0;
  border: 0;
  border-bottom: 5px solid #ffb300;
  outline-offset: 0;
  outline: 0;
}
.recipe--input input {
  height: 150px;
}
.recipe--input .textarea {
  display: inline-block;
  min-height: 130px;
}
.recipe--input .textarea[contenteditable=true]:empty:before {
  content: attr(placeholder);
  color: #9e9e9e;
}
@media screen and (min-device-width: 1000px) and (min-width: 1000px) {
  .recipe--input label {
    display: block;
    flex: 2.5;
  }
  .recipe--input input,
  .recipe--input .textarea {
    flex: 7.5;
    margin: 0;
    font-size: 1em;
    border-bottom: 2px solid #9e9e9e;
  }
  .recipe--input input:focus,
  .recipe--input .textarea:focus {
    border-bottom: 2px solid #ffb300;
  }
  .recipe--input input {
    height: 30px;
  }
  .recipe--input .textarea {
    min-height: 30px;
  }
}
@media screen and (max-device-width: 1000px) {
  .form-group {
    margin-top: 50px;
  }
  .form-group label {
    display: none;
  }
  .form-control {
    height: 100px !important;
    display: inline-block;
    font-size: 1em;
  }
  .btn {
    font-size: 1em;
  }
}
