extends ../layout

block content
  h1 #{profile.username}'s Profil
  p #{profile.email}
  p #{profile.favorites}
  .card--layout
    each recipe in recipes
      +card('medium',recipe)
        p=recipe.name