$orange = #ffb300
$orange-light = #ffb300
$orange-dark = #ffb300
$green = #12c700
$green-light = #64dd17
$green-dark = #64dd17
$grey = #9e9e9e
$grey-light = #bdbdbd
$grey-dark = #757575


.is-orange
  color $orange

.is-orange-dark
  color $orange

.is-green
  color $green

.is-green-dark
  color $green-dark