body {
  flex-direction: row;
}
header {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  flex: 2;
  background: $grey;
  box-shadow: 0 2px 20px rgba(0,0,0,0.3);
}
main {
  padding: 20px;
  overflow-y: auto;
  flex: 8;
}
