body {
  font-size: 70px;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: row;
  min-height: 70px;
  flex: 1;
  background: $grey;
}
main {
  overflow-y: auto;
  flex: 9;
  background: $grey-light;
}
