header
  .header--burger.fa.fa-bars
  .header--logo
    a(href="/") CookMii
  nav
    ul
      li
        a(href="/recipes/") Alle Rezepte
      li
        a(href="") Eigene Rezepte
      li
        a(href="") Favoriten
      li
        a(href="/recipes/new") Neues Rezept

  .header--user
    .header--user-image
      - if(user)
        img(style="background-image:url(https://farm4.staticflickr.com/3847/15207650967_c26783888c_o.jpg);")
    .header--user-actions
      -if(user)
        a(href="/profile") Profil
        a(href="/logout") Logout
      -else
        a(href="/signup") Signup
        a(href="/login") Login

  .header--impressum