header
  .header--burger.fa.fa-bars
  .header--logo
    a(href="/") CookMii
  nav
    ul
      li
        a(href="/recipes/") Alle Rezepte
      li
        a(href="") Eigene Rezepte
      li
        a(href="") Favoriten
      li
        a(href="/recipes/new") Neues Rezept

