@media mobile {
  .form-group {
    margin-top: 50px;
  }
  .form-control {
    height: 100px !important;
    display: inline-block;
    font-size: 0.6em;
  }
  .btn {
    font-size: 1em;
  }
  input[type="checkbox"] {
    width: 80px;
    height: 80px;
  }
  input[type="file"] {
    font-size: 50px;
  }
}
@media desktop {
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-top: 10px;
  }
}
textarea {
  min-height: 500px;
}
.form-group {
  padding-left: 15px;
}
.col-1 {
  width: 10%;
}
.col-2 {
  width: 20%;
}
.col-3 {
  width: 30%;
}
.col-4 {
  width: 40%;
}
.col-9 {
  width: 90%;
}
.close {
  font-size: 1.6em;
  width: 100%;
}
