.logo {
  color: #fff;
  margin: 20px;
  font-size: 8rem;
  flex: 1;
}
@media desktop {
  .logo {
    font-size: 3rem;
  }
}
nav {
  flex: 8.5;
}
nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
nav ul li {
  padding: 5px;
  height: 40px;
}
nav ul li:hover {
  background: $orange-light;
}
nav ul li a {
  font-size: 1.25em;
  color: #fff;
  text-decoration: none;
}
.impressum {
  flex: 0.5;
}
.impressum a {
  color: #fff;
}
