.recipe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.recipe--container-first {
  order: 1;
}
.recipe--container-first .recipe--title,
.recipe--container-first .recipe--categories,
.recipe--container-first .recipe--author {
  padding: 0 10px;
}
.recipe--container-second {
  order: 2;
}
@media desktop {
  .recipe--container-second {
    padding: 0 10px;
  }
}
.recipe--container-third {
  padding: 0 10px;
  order: 3;
}
.recipe--categories {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
.recipe--categories li {
  font-style: italic;
  font-size: 0.75em;
  margin-right: 10px;
}
.recipe--categories li:last {
  margin-right: 0;
}
.recipe--image {
  width: 100%;
  height: 600px;
  overflow: hidden;
  text-align: center;
}
.recipe--image img {
  background-size: 100% auto;
  background-position-y: center;
  width: 100%;
  height: 100%;
  box-shadow: inset 10px 10px 100px rgba(0,0,0,0.6);
}
@media desktop {
  .recipe {
    flex-direction: row;
  }
  .recipe--container-first {
    min-width: 400px;
    max-height: 400px;
    flex: 1;
  }
  .recipe--container-first .recipe--title,
  .recipe--container-first .recipe--categories,
  .recipe--container-first .recipe--author {
    padding: 0;
  }
  .recipe--container-second {
    padding: 0;
    min-width: 350px;
    max-height: 400px;
    padding-left: 20px;
    overflow-y: auto;
    flex: 1;
  }
  .recipe--container-third {
    padding: 0;
    min-width: 400px;
  }
  .recipe--categories li {
    font-size: 1.25em;
    margin-right: 20px;
  }
  .recipe--image {
    margin-top: 20px;
    width: 400px;
    height: 250px;
  }
}
#container {
  width: 100%;
  height: 80%;
  height: 480px;
}
#container .item {
  padding: 10px;
  background: $green;
  width: 180px;
  height: 130px;
}
.recipe--input {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.recipe--input label {
  display: none;
}
.recipe--input input,
.recipe--input .textarea {
  color: #000;
  margin: 10px 2%;
  font-size: 5em;
  border: 0;
  border-bottom: 5px solid $grey;
  background: $grey-light;
}
@media mobile {
  .recipe--input input,
  .recipe--input .textarea {
    width: 96%;
  }
}
.recipe--input input:focus,
.recipe--input .textarea:focus {
  border-box: 0;
  border: 0;
  border-bottom: 5px solid $orange;
  outline-offset: 0;
  outline: 0;
}
.recipe--input input {
  height: 150px;
}
.recipe--input .textarea {
  display: inline-block;
  min-height: 130px;
}
.recipe--input .textarea[contenteditable=true]:empty:before {
  content: attr(placeholder);
  color: $grey;
}
@media desktop {
  .recipe--input label {
    display: block;
    flex: 2.5;
  }
  .recipe--input input,
  .recipe--input .textarea {
    flex: 7.5;
    margin: 0;
    font-size: 1em;
    border-bottom: 2px solid $grey;
  }
  .recipe--input input:focus,
  .recipe--input .textarea:focus {
    border-bottom: 2px solid $orange;
  }
  .recipe--input input {
    height: 30px;
  }
  .recipe--input .textarea {
    min-height: 30px;
  }
}
