.card--layout
  display flex
  flex-flow row wrap
  justify-content space-around
  align-content space-around
  &.left
    justify-content flex-start
.card--container
  @media mobile
    width 100%
  display flex
  justify-content flex-start
  align-content flex-start
  flex-flow column wrap
  &.first
    order 1
  &.second
    order 2
  &.third
    order 3
  &.fourth
    order 4
.card--main
  align-self flex-start
  background white
  margin-bottom 25px
  box-shadow 0 2px 8px 0 rgba(0,0,0,.25)
  border-radius 2px
  display inline-block
  &.small
    width 220px
    @media mobile
      width 100%
  &.medium
    width 330px
    @media mobile
      width 100%
  &.large
    width 600px
    @media mobile
      width 100%
  &.inline
    margin-top 25px
    box-shadow none
    border-radius 0
    border-bottom 1px solid #CCC
    margin-left -16px
.card--title
    padding 16px
    font-size 1.5em
.card--subtitle
    padding 0 16px 16px 16px
    font-size 1em
.card--image
  left 0
  position relative
  width 100%
  overflow hidden
  text-align center
  &.small
    height 100px
    @media mobile
      height 200px
  &.medium
    height 150px
    @media mobile
      height 300px
  &.large
    height 250px
    @media mobile
      height 400px
  img
    left 0
    position absolute
    z-index 0
    background-size 100% auto
    background-repeat no-repeat
    background-position center
    width 100%
    height 100%
    transition all 0.2s ease
    &:hover
      transform scale(1.2)
.card--fav-button
  z-index 1
  position absolute
  width 50px
  height 70px
  @media mobile
    width 100px
    height 140px
    font-size 0.6em
  top 0
  right 0
  background $green
  border-bottom-left-radius 10px
  .fa
    position absolute
    top 10px
    left 0
    right 0
    margin 0 auto
    color white
    font-size 1.5em
    &.fa-star
      color $orange
    &:hover
      color orange
      cursor pointer
  .card--fav-count
    font-size 1em
    margin-top 10px
    position absolute
    padding 10px
    bottom 0
    left 0
    right 0
    color white
.card--content
  color black
  font-size 1em
  @media mobile
    p
      font-size 0.6em
  padding 16px
  .btn
    margin-right 16px
