.header--logo
  height 100px
  width 140px
  margin 30px auto
  position relative
  text-decoration none
  color white
  .fa-spoon
    font-size 4em
    position absolute
    left 0
  .first
  .second
    text-align left
    padding-left 40px
    font-size 2.25em
    line-height 35px

.header--navigation
  flex 1
  ul
    list-style none
    text-align center
    padding 0
    li
      text-align left
      padding 10px
      padding-right 30px
      height 40px
      font-size 1em
      line-height 20px
      &:hover
        background $green
        font-size 1.2em
        cursor pointer
.header--user
  width 100%
  flex-flow column nowrap
  justify-content flex-end
  .header--user-actions
    padding-bottom 20px
    display flex
    justify-content space-between
    color white
    a
      margin 0 auto
      padding 10px
      display inline-block
      background $green
      box-shadow 0 4px 0 $green-dark
      border-radius 5px
      &:hover
        background $green-dark
