// Small Cards

.recipe--categories
  list-style none
  padding 0
  display flex
  flex-flow row wrap
  justify-content space-around
  li
    color white
    padding 5px 10px
    background $green
    border-radius 5px
    margin-top 10px
