body {
  font-family: 'Roboto-Regular', Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 70px;
  flex-direction: column;
}
@media desktop {
  body {
    font-size: 18px;
    flex-direction: row;
  }
}
header {
  background: $orange-dark;
  box-shadow: 0 2px 20px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: row;
  min-height: 200px;
  flex: 1;
}
@media desktop {
  header {
    text-align: center;
    flex-direction: column;
    min-width: 250px;
    flex: 2;
  }
}
main {
  overflow-y: auto;
  background: $grey-light;
  flex: 9;
  font-size: 1em;
}
@media desktop {
  main {
    padding: 20px;
    flex: 8;
  }
}
