.header--logo
  height 100px
  width 140px
  margin 30px auto
  position relative
  text-decoration none
  color white
  .fa-spoon
    font-size 4em
    position absolute
    left 0
  .first
  .second
    text-align left
    padding-left 40px
    font-size 2.25em
    line-height 35px

.header--navigation
  flex 1
  ul
    list-style none
    text-align center
    padding 0
    li
      text-align left
      padding 10px
      padding-right 30px
      height 40px
      font-size 1em
      line-height 20px
      &:hover
        background $green
        font-size 1.2em
        cursor pointer
.header--user
  height 250px
  display flex
  flex-flow column nowrap
  justify-content space-around
  .header--user-image
    img
      // box-shadow 0 10px 10px rgba(0,0,0,0.5)
      border-radius 50px
      background-size auto 100%
      background-position-x center
      width 100px
      height 100px
      border 1px solid #666
      // box-shadow 0 4px 0 #555
  .header--user-actions
    display flex
    color white
    flex 0.5
    flex-flow column nowrap
    justify-content flex-end
    padding-bottom 30px
    a
      padding 10px
      margin 0 auto 10px auto
      width 80%
      background $green
      box-shadow 0 4px 0 $green-dark
      border-radius 5px
      &:hover
        background $green-dark


  // margin auto 0
  // font-size 2em
  // @media desktop
  //   margin 20px 20px
// .header--burger
//   color black
//   font-size 2em
//   padding 35px
//   float left
//   @media desktop
//     &.fa
//       display none
