.header--logo
  a
    text-decoration none
    color white
  margin 20px
  font-size 1.5em
  @media desktop
    font-size 3em
  flex 1
.header--burger
  color black
  font-size 2em
  padding 35px
  float left
@media mobile
  nav
    display none
    position fixed
    width 100%
    height 150%
    background $orange
    text-align center
    z-index 1
    ul
      list-style none
      padding 0
      li
        padding 10px
        a
          text-decoration none
          color white
          font-size 1em

@media desktop
  .header--burger.fa
    display none
  nav
    flex 8.5
    ul
      list-style none
      text-align center
      padding 0
      li
        padding 5px
        height 40px
        &:hover
          background $orange-light
        a
          font-size 1.25em
          color white
          text-decoration none

  .header--impressum
    flex 0.5
    a
      color white
