header
  .header--logo
    span.fa.fa-spoon
    a.header--title(href="/") CookMii

  .header--navigation-button.fa.fa-bars
  ul.header--navigation
    li
      a(href="/recipes/") Recipes
    -if(user)
      li
        a(href="/users") Users
      li
        a(href="/favorites/") Favorites
      li
        a(href="/recipes/new") New Recipe
      li
        a(href="/parties") Parties

  .header--user-button.fa.fa-user
  .header--user
    -if(user)
      //- .header--user-image
      .header--user-name #{user.username}
    .header--user-actions
      -if(user)
        a.btn.btn-success(href="/users/#{user.username}") Profil
        a.btn.btn-success(href="/logout") Logout
      -else
        a.btn.btn-success(href="/register") Register
        a.btn.btn-success(href="/login") Login
