header
  //- .header--burger.fa.fa-bars
  .header--logo
    a(href="/")
      .fa.fa-spoon
      .first Cook
      .second Mii
  .header--navigation
    ul
      li
        a(href="/recipes/") Alle Rezepte
      -if(user)
        li
          a(href="/users") Alle Nutzer
        li
          a(href="/recipes/own") Eigene Rezepte
        li
          a(href="/favorites/") Favoriten
        li
          a(href="/recipes/new") Neues Rezept
        li
          a(href="/parties") Parties

  //- .header--icon
  //-   .fa.fa-user
  .header--user
    -if(user)
      h2 #{user.username}
    .header--user-actions
      -if(user)
        a(href="/users/#{user.username}") Profil
        a(href="/logout") Logout
      -else
        a(href="/register") Register
        a(href="/login") Login
