doctype html
html
  head
    title= title
    block styles

    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    //- enables adding styles
  body
    include mixins
    include header
    main
      block content

    //- include ./partials/party_new

    script(src="/libs/jquery-1.11.1.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/libs/jquery.autosize.min.js")
    script(src="/libs/underscore.js")
    script(src="/javascripts/events.js")
    script(src="/javascripts/parties.js")
    //- enables adding scripts to the bottom of the file
    block scripts